<h1><%= @todo_list.title %></h1>
<p> These are all the things I need to do today.</p>


<table class="todo_items">
	<% @todo_list.todo_items.each do |todo_item| %>
	<tr id="<%= dom_id(todo_item) %>">
	<%= todo_item.content %>
	<%= link_to "Edit", edit_todo_list_todo_item_path(todo_item)%>
	<%= link_to "Delete", todo_list_todo_item_path(todo_item), method: :delete %>
	</tr>
	<% end %>
</table>

<p>
<%= link_to "New Todo Item", new_todo_list_todo_item_path %>
</p>
